@model IEnumerable<Seat>

<div class="modal-dialog">
    <div class="modal-content">
        <form method="post" asp-action="EmployeePupUp" asp-controller="Home">
            <div class="modal-header">
                <h4 class="modal-title">Новый сотрудник</h4>
            </div>
            <div class="modal-body">
                <div class="form-group form-inline">
                    <input type="text" class="form-control col-md-5" required="required" name="LastName" />
                    <label class="control-label col-form-label col-2 offset-1 text-left justify-content-start">Фамилия</label>
                </div>
                <div class="form-group form-inline">
                    <input type="text" class="form-control col-md-5" required="required" name="Name" />
                    <label class="control-label col-form-label col-2 offset-1 text-left justify-content-start">Имя</label>
                </div>
                <div class="form-group form-inline">
                    <select class="form-control col-md-5" name="Position">
                        @foreach (string item in (IEnumerable<string>)ViewBag.Items)
                        {
                            <option value="@item">@item</option>
                        }
                    </select>
                     <label class="control-label col-form-label col-2 offset-1 text-left justify-content-start">Должность</label>
                </div>
                <div class="form-group form-inline">
                    <input type="text" class="form-control col-md-5" required="required" name="Salary" />
                    <label class="control-label col-form-label col-2 offset-1 text-left justify-content-start">Оклад</label>
                </div>

                <div class="form-group form-inline">
                    <div class="input-group date" id="datetimepicker1" data-target-input="nearest">
                        <input type="text" class="form-control datetimepicker-input col-6" data-target="#datetimepicker1" name="Hired"/>
                        <div class="input-group-append" data-target="#datetimepicker1" data-toggle="datetimepicker">
                            <div class="input-group-text"><i class="fa fa-calendar"></i></div>
                        </div>
                        <label class="control-label col-form-label col-2 offset-1 text-left justify-content-start">Нанят</label>
                    </div>
                </div>
                <div class="form-group form-inline">
                    <div class="input-group date" id="datetimepicker2" data-target-input="nearest">
                        <input type="text" class="form-control datetimepicker-input col-6" data-target="#datetimepicker2" name="Fired"/>
                        <div class="input-group-append" data-target="#datetimepicker2" data-toggle="datetimepicker">
                            <div class="input-group-text"><i class="fa fa-calendar"></i></div>
                        </div>
                        <label class="control-label col-form-label col-2 offset-1 text-left justify-content-start">Уволен</label>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <div class="form-inline">
                    <button type="button" class="btn btn-secondary mr-md-2" data-dismiss="modal" value="Cancel">Закрыть</button>
                    <button type="Submit" class="btn btn-primary mr-md-2" value="Add">Добавить</button>
                </div>
            </div>
        </form>
    </div>
</div>