@model SimpleCore.Models.Employee

<select class="form-control col-md-5" asp-for="Position" asp-items="@ViewBag.Items">
    <option selected="selected" disabled="disabled">-Должность-</option>
</select>